* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", -apple-system, sans-serif;
  font-size: 14px;
}

main {
  margin: 0 auto;
  width: 100%;
  max-width: 970px;
  padding: 2rem;
}

header {
  background: #e8e8e8;
  border-bottom: 1px solid #dddddd;
  box-shadow: 0 1px #FFFFFF inset, 0 1px 17px rgba(236, 236, 236, 0.4);
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header .title {
  margin-left: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #6f6f6f;
  font-size: 23px;
}

header img {
  height: 30px;
}

h1, h2, h3, h4, h5, h6, header .title {
  font-family: "Rubik", "Open Sans", -apple-system, sans-serif;
  font-weight: 300;
}

.step {
  margin: 3rem 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  box-shadow: 0 1px #FFFFFF inset, 0 1px 17px rgba(236, 236, 236, 0.4);
  background-color: #f7f7f7;
}

.step .step__info {
  flex-basis: 25%;
  padding: 2rem;
}

.step .step__action {
  flex-basis: 75%;
  padding: 2rem;
  border-left: 1px solid #e8e8e8;
  background: #fff;
}

.step.step-done {
  opacity: 0.5;
  pointer-events: none;
}

.step h2 {
  margin: 0 0 1rem 0;
}

.step input[type="text"], .step textarea, .step input[type="file"], .step .input__like-element {
  display: block;
  margin-top: 5px;
  width: 100%;
  padding: 6px;
}

.step input[type="file"], .step .input__like-element {
  border: 1px solid #d2d2d2;
}

.step button {
  width: 100%;
  padding: 6px;
  margin: 6px 0 0 0;
}

.step span {
  display: block;
  width: 100%;
}

.step .form-element {
  margin-bottom: 1rem;
}

.templates {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.templates .templates__template {
  width: 175px;
  margin: 6px;
  background: #e8e8e8;
  flex-grow: 1;
}

.templates .templates__template.selected {
  border: 2px solid #616cb4;
}

.templates .templates__template .templates__template__img img {
  width: 100%;
}

.templates .templates__template .templates__template__name {
  margin: 3px;
}

.video-form {
  display: flex;
  justify-content: stretch;
}

.video-form__name, .video-form__form {
  margin: 6px;
}

.video-form__form {
  flex-grow: 2;
}

.alert {
  text-align: center;
  margin: 2rem 0 0 0;
}

.job__videos {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
}

.job__videos .job__videos__video {
    flex-basis: 33%;
    padding: 1rem;
    margin: 0.5rem;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
}

.job__videos .job__videos__video:first-of-type {
    margin-left: 0;
}

.job__videos .job__videos__video ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}