* {
  box-sizing: border-box;
}

#root {
  margin: 0 auto;
  width: 100%;
  max-width: 970px;
  padding: 2rem;
}

.step {
  background: #efefef;
  padding: 1rem;
  border-radius: 6px;
  margin: 2rem 0;
  width: 100%;
}

.step h2 {
  margin: 0 0 1rem 0;
}

.step input[type="text"] {
  display: block;
  width: 100%;
  padding: 6px;
}

.step button {
  width: 100%;
  padding: 6px;
  margin: 6px 0 0 0;
}

.step span {
  display: block;
  width: 100%;
}

.video-form {
  display: flex;
  justify-content: stretch;
}

.video-form__name, .video-form__form {
  margin: 6px;
}

.video-form__form {
  flex-grow: 2;
}